{% extends "bloggerblogBundle:AdminBlog:AdminBlogBase.html.twig" %}
{% block content %}

        <div class="headers_wrapper">داشبورد</div>
        <div class="content_in">
            <div class="row-fluid">
                <div class="span6 content_in_two_part">
                    <div class="headers_wrapper">مطالب اخیر</div>
                    <div>
                        sdfsfwefwef
                    </div>
                </div>
                <div class="span6 content_in_two_part">
                    <div class="headers_wrapper">نظرات اخیر</div>
                    <div>
                        sdfsfwefwef
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
