{% extends "bloggerblogBundle:AdminBlog:AdminBlogBase.html.twig" %}
{% block content %}

        <div class="headers_wrapper">ویرایش پروفایل</div>
        <div class="content_in">
            <div class="width_100_percent">
                {{ form(user_form) }}
            </div>
        </div>
{% endblock %}
