{% extends "bloggerblogBundle:AdminBlog:AdminBlogBase.html.twig" %}
{% block content %}

    <div class="headers_wrapper">
        <div class="pull-left"><a href="{{ path('bloggerblog_blogAdminShowRecentComments',{'articleId' : articleId}) }}">بازگشت به صفحه مطالب اخیر <i class="icon-arrow-left"></i></a> </div>
        ویرایش نظر
         {{ comment_name }}
    </div>
    <div class="content_in">
        <div class="width_100_percent">
            {{ form(comment_form) }}
        </div>
    </div>
{% endblock %}
