{% extends "bloggerblogBundle:AdminBlog:AdminBlogBase.html.twig" %}
{% block content %}

    <div class="headers_wrapper">ویرایش مطلب</div>
    <div class="content_in">
        <div class="width_100_percent">
            {{ form(article_form) }}
        </div>
    </div>
{% endblock %}
