<table>
    <thead>
        <tr><th>عنوان</th><th>تاریخ</th><th>خلاصه</th><th>تعداد نظرات</th></tr>
    </thead>
    <tbody>
    {% for article in articles %}
        <tr>
            <td>{{ article.article_title }}</td>
            <td>{{ article.article_date|date("Y/m/d") }}</td>
            <td>{{ article.article_comment_count }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>