<div class="article_comment">
    <div class="article_comment_header">
        <div class="article_comment_name">{{ article_comment.name }}</div>
        <div class="article_comment_date">تاریخ ارسال نظر: {{ article_comment.date }}</div>
    </div>
    <div class="article_comment_comment">{{ article_comment.comment }}</div>
</div>