{% extends "FOSUserBundle::layout.html.twig" %}
{% block fos_user_title %}ثبت وبلاگ جدید{% endblock %}
{% block fos_user_content %}
<div class="alert alert-block alert-success" data-dismiss="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p>
</div>
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}
    {% endif %}
{% endblock fos_user_content %}
