{#{% extends "FOSUserBundle::layout.html.twig" %}#}
{% set parent = '' %}
{% if is_granted('ROLE_BLOGGER') %}
    {% set parent = 'bloggerblogBundle:AdminBlog:AdminBlogBase.html.twig' %}
{% elseif is_granted('ROLE_ADMIN') %}
    {% set parent = 'bloggerblogBundle:MasterAdminBlog:AdminBlogBase.html.twig' %}
{% endif %}
{% extends parent %}
{% block content %}
    <div class="headers_wrapper">تغییر رمز عبور</div>
    <div class="content_in">
        <div class="width_100_percent">
            {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
        </div>
    </div>
{% endblock %}


