body{
    direction: rtl;
    font-family: Tahoma, "Times New Roman",serif;
}
img{
    border-radius: 3px;
    box-shadow: 0 0 5px #999999;
    margin: 10px;
}
.alert{
    padding: 14px 14px 14px 35px;
    margin-top: 10px;
}
.alert .close{
    float: left;
    right: 20px;
}
.header{
    background-color: #ccccff;
    line-height: 100px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 10px;
}
.wrapper{
    width: 100%;
    margin-top: 10px;
}
.wrapper .content_out{
    float: left;
    width: 730px;
}
.wrapper .content{
    border-radius: 5px;
    width: 710px;
    padding: 10px;
    background-color: #ddddff;
    margin-bottom: 10px;
}
.wrapper .sidebar{
    border-radius: 5px;
    float: right;
    width: 180px;
    padding: 10px;
    background-color: #ddddff;
}
.wrapper .headers_wrapper{
    text-align: right;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: blue;
    width: 690px;
    background-color: #ffffff;
    box-shadow: 0 0 5px #ffffff;
}
.wrapper .sidebar .headers_wrapper{
    width: 160px;
}
.wrapper .content_in,
.wrapper .sidebar_in{
    margin-top: 5px;
    width: 100%;
}
.article_date{
    text-align: left;
    font-size: 12px;
    color: #999999;
    width: 300px;
    float: left;
}
.article_comment_count{
    width: 300px;
    float: right;
}
.article_body{
    width: 100%;
    text-align: justify;
    margin-bottom: 20px;
}
.recent_comment{
    width: 100%;
    border-bottom: 1px solid #5bc0de;
    margin-bottom: 10px;
}
.recent_comment .recent_comment_name{
    float: right;
    font-weight: bold;
}
.recent_comment .recent_comment_date{
    font-size: 12px;
    color:#999999;
    float: left;
}
.article_comment{
    width: 690px;
    padding: 10px;
    border-bottom: 3px solid #66dd66;
    margin-bottom: 10px;
    background-color: #eeeeff;
    border-radius: 10px;
    margin-top: 10px;
}
.article_comment_comment{
    width: 100%;
}
.article_comment_header{
    width: 100%;
    height: 20px;
    border-bottom: 1px solid #aaaaaa;
}
.article_comment_name{
    width: 430px;
    float: right;
    font-weight: bold;
}
.article_comment_date{
    font-size: 12px;
     width: 250px;
     float: left;
     text-align: left;
 }
.width_100_percent{
    width: 100%;
}
.article_readmore{
    width: 100%;
    text-align: right;
}
.article_info{
    width: 100%;
    height: 20px;
    margin-top: 10px;
}