body{
    direction: rtl;
    font-family: Tahoma, "Times New Roman",serif;
}
.wrapper{
    width: 100%;
    margin-top: 10px;
}
.wrapper .content_out{
    float: left;
    width: 730px;
}
.wrapper .content{
    border-radius: 5px;
    width: 710px;
    padding: 10px;
    background-color: #ddddff;
    margin-bottom: 10px;
}
.wrapper .sidebar{
    border-radius: 5px;
    float: right;
    width: 200px;
    background-color: #ddddff;
}
.wrapper .headers_wrapper{
    border-bottom: 1px solid #0077b3;
    text-align: right;
    font-weight: bold;
    color: blue;
    width: 100%;
}
.wrapper .content_in,
.wrapper .sidebar_in{
    width: 100%;
}
.header{
    background-color: #ccccff;
    line-height: 100px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    margin: 10px 0;
}
.bs-docs-sidenav {
    padding: 0;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
    display: block;
    width: 190px \9;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
.content_in_two_part{
    background-color: #fff;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}
.width_100_percent{
    width: 100%;
}