{% extends "bloggerblogBundle:MasterAdminBlog:AdminBlogBase.html.twig" %}
{% block content %}
        <div class="headers_wrapper">داشبورد</div>
        <div class="content_in">
            dfkg
        </div>
{% endblock %}
