{% extends "bloggerblogBundle:MasterAdminBlog:AdminBlogBase.html.twig" %}
{% block content %}

    <div class="headers_wrapper">
        ویرایش محتوای صفحه اصلی</div>
    <div class="content_in">
        <div class="width_100_percent">
            {{ form(homePage_form) }}
        </div>
    </div>
{% endblock %}
