{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="headers_wrapper">ثبت نام</div>
<div class="content_in">
<p>
{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
</p>
</div>
{% endblock %}
