{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="headers_wrapper">ثبت نام</div>
<div class="content_in">
<p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
</div>
{% endblock fos_user_content %}
