{% extends "FOSUserBundle::layout.html.twig" %}
{% block fos_user_title %}درخواست ریست رمز عبور{% endblock %}
{% block fos_user_content %}
    <div class="alert alert-block alert-danger">
        <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
    </div>
{% endblock fos_user_content %}
