<div class="content">
    <div class="headers_wrapper">{{ article.article_title }}</div>
    <div class="content_in">
        <div class="article_body">{{ article.article_body }}</div>
        <div class="article_readmore"><a class="btn btn-info" href="#">ادامه مطلب</a></div>
        <div class="article_info">
            <div class="article_date">تاریخ آخرین ویرایش: {{ article.article_date }}</div>
            <div class="article_comment_count">تعداد نظرات: {{ article.article_comment_count }}</div>
        </div>
    </div>
</div>