{% extends "bloggerblogBundle:Blog:blogBase.html.twig" %}
{% block sidebar %}
    {{ include(
    '@bloggerblog/Blog/sidebar/descriptionArticle.html.twig'
    ) }}
    {{ include(
    '@bloggerblog/Blog/sidebar/recentComment.html.twig',
    { 'recent_comments': recent_comments }
    ) }}
{% endblock %}
{% block content %}
    {% if articles is not empty %}
    {% for article in articles %}
        {{ include(
        '@bloggerblog/Blog/homepage/content_readmore.html.twig',
        { 'article': article }
        ) }}
    {% endfor %}
    {% else %}
        <div class="content">
            <div class="headers_wrapper">بدون مطلب</div>
            <div class="content_in">
                <div class="article_body">وبلاگ بدون مطلب است!!</div>
            </div>
        </div>
    {% endif %}
{% endblock %}